.article-container {
  max-width: 70vw;
  margin: 0 auto;
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.article-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.article-date {
  font-size: 14px;
  color: #888;
  margin-bottom: 20px;
}

.article-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.article-content {
  font-size: 16px;
  line-height: 1.6;
  color: #444;
}

.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  max-width: 70vw;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for larger screens */
  }
}

.grid-item {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 10px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-px);
  -moz-transform: translateY(-px);
  -ms-transform: translateY(-px);
  -o-transform: translateY(-px);
}

.grid-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.grid-content {
  font-size: 14px;
  color: #555;
  margin: 0;
  font-weight: bold;
}

.modal {
  height: auto;
}

@media screen and (max-width: 768px) {

  .article-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    border: 0px solid #ddd;
    border-radius: 0px;
    box-shadow: 0 0px 0px rgba(255, 255, 255, 0);
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
  
}
