body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e8ab53;
}

.container-fluid {
    background-image: url('../img/bgpondokatas.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 20px;
    height: 100%;
    width: 100%;
    margin-top: -8px;
}

.judulgede {
    color: rgb(255, 255, 255);
    background-color: #ffd18e;
    text-align: center;
    padding: 20px 0;
}

.judulgede h1 {
    font-size: 2rem;
    margin: 0;
}

.oppra, .pondok {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 85vw;
    height: auto;
    margin: 40px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo-oppra, .logo-pondok {
    flex: 0 0 auto;
    width: 250px;
    height: auto;
}

.tulisan-oppra, .tulisan-pondok {
    flex: 1;
    text-align: left;
    color: #ffffff;
}

.tulisan-oppra h2, .tulisan-pondok h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.tulisan-oppra p, .tulisan-pondok p {
    font-size: 1rem;
    line-height: 1.6;
    margin: 0;
}

.button-webpondok {
    margin-top: 5vh;
}

@media (max-width: 992px) {
    .oppra, .pondok {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .logo-oppra, .logo-pondok {
        width: 200px;
        height: auto;
    }

    .tulisan-oppra, .tulisan-pondok {
        text-align: center;
    }
}

